@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mandali&display=swap");

.container_e{
    background:linear-gradient( #17223b, #06D6A0, #FFD166, #FB3640, #7E8D85);
   
}

.flex-wrap {
    justify-content: center!important;
}

p {
    color: #26547c;
}

.font-bold {
    color: #645cbb

}

.float-right {
    color: #FB3640
}