
@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.completo {
    background: linear-gradient(
        219deg,
        rgba(100, 92, 187, 1) 0%,
        rgba(38, 84, 124, 1) 40%,
        rgba(251, 54, 64, 1) 60%,
        rgba(126, 141, 133, 1)80%
        );
    background-size: 200%,200%;
    animation: movimiento 5s linear infinite alternate;
}

@keyframes movimiento {
    from {
      background-position: 0 0;
    }
    to{
      background-position: 100% 100%;
    }
  }
   

.content {
    width: 100%;
    text-align:center;
    padding-top: 10%;
    font-size:2em;
    color:#fff;
    letter-spacing: 7px;
    font-weight:700;
    text-transform:uppercase;
    animation:blur 20s ease-out infinite;
    text-shadow:0px 0px 5px #fff,
        0px 0px 7px #101010;
  }
  
  @keyframes blur{
    from{
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #0a0101,
        0px 0px 50px #1a1818,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;}
  }
  
   

.letra_l {
    font-family: 'Share Tech Mono', monospace;
}

.container_l {
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-evenly; 
    flex-wrap: wrap;     
}

.evento1_l, .evento2_l, .evento3_l, .evento4_l {
    transform-style: preserve-3d;
    width: 70%;
    margin: 0 auto;
    height: 650px;
    margin-top: 10px;
    display: inline;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 3em;
    max-width: 400px;
    background: linear-gradient(
      25deg,
      rgba(100, 92, 187, 1) 30%,
      rgba(209, 209,102, 1) 86%
    );
    transition: all 0.15s ease;
}

.letra_l {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.evenIm {
    width: 95%;
    margin: 0 auto;
    position: relative;
   
    
}


.card_img {
    width: 100%;
    border-radius: 20px;
    margin-top: -32px;
}

.card_title {
    margin-bottom: 1em;
    font-weight:900;
    font-family: inter;
   margin: 10px;
}

.boton {
   width: 100%;
   background: rgb(95, 70, 165);
   color: rgb(255, 255, 255);
   font-weight: 600;
   font-family: inter;
   font: bold;
   align-items: center; 
   padding: 15px !important;
   border-radius: 5px;
}

.boton:hover {
background: rgb(240, 109, 109);
border: blue;
}

